<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>마이 메모 앱에 오신 것을 환영합니다!</h1>
      <p>이것은 간단한 온라인 메모장 애플리케이션입니다.</p>
      <form action="/login" method="post">
        <div class="form-group">
          ]
          <label for="username"> 사용자 이름 : </label>
          <input type="text" id="username" name="username" required />
        </div>
        <duv class="form-group">
          <label for="password"> 비밀번호: </label>
        </duv>
      </form>
    </div>
  </body>
</html>
